<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Songs</title>
</head>
<body>
    <div th:object="${movie}">
        <h1 th:text="|Movie *{id} details|"></h1>
        <h2 th:text="|Movie name: *{title}|"></h2>
        <h2 th:text="|Director: *{director}|"></h2>
    </div>
    <h2><a th:href="@{/movies}"><< Movies list</a></h2>
</body>
</html>