<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Incluto l'head -->
<head th:replace="fragments/resources :: head('Year recap')"></head>
<body>

    <header>
        <h1 class="text-center my-4" th:text="|Best of the ${year} by ${name}|"></h1>
    </header>

    <main>
        <div class="container">
            <div class="text-center">
                <a class="btn btn-primary" th:href="@{/}">Home</a>
                <a class="btn btn-primary" th:href="@{/songs}" th:text="|Check your ${year}'s favorite songs|"></a>
                <a class="btn btn-primary" th:href="@{/movies}" th:text="|Check your ${year}'s favorite movies|"></a>
            </div>
        </div>
    </main>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>